 body {
            background-color: aquamarine;
        }

        h1 {
            color: rgb(42, 140, 165);
            font-size: 100px;
            background-color: chartreuse;
            text-align: center;
        }
        .title
        {
background-color:rgb(217, 255, 0);
        }
        div p {
            color: red;
        }
        div[width="120px"]{
            color: rgb(255, 217, 0);
        }
        
         